@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-lato: Lato, sans-serif;
  --soar-dark-blue: #343c6a;
  --soar-light-blue: #718ebf;
  --soar-black: #232323;
  --soar-gray-4: #b1b1b1;
  --soar-gray-3: #dfeaf2;
  --soar-gray-2: #e6eff5;
  --soar-gray-1: ##f5f7fa;
}
